/*======================*
 *      미디어 쿼리     *
 *======================*/
 /*======================*
 *        pc 이하       *
 *======================*/
 @media screen and (max-width: 1199px){
    #about{
        height: 180vh;
        }
  
    .about-inner{
    height: 150vh;
    margin-top: 0rem;
}
  .img-box{
    margin-top: 3rem;
    width: 30%;
    height: 30%;
  }


.txt-inner h4{
    margin-top: 0;
}

.about-txt{
    width: 100%;
    text-align: center;
    padding-right: 0;
}
.iconBx{
    justify-content: center;
}

#design .promotion-card{
    margin: auto;
    margin-top: 100px;
    }
}

@media screen and (max-width: 1068px){
    .rdw-card{
        max-width: 80em;
    }

    .rdw-card-img{
        min-width: 30em;
        max-width: 30em;
    }


}



/*======================*
 *    노트북 이하       *
 *======================*/
@media screen and (max-width: 991px){
.topBtn{
    display: block;
}
#pc_menu{
    display: none;
    }

    #about{
        height: 180vh;
        }
    
.sec-menu{
    display: flex;
    position: fixed;
    bottom: -5%;
    right: 5%;
    }
.mo-menu{
    display: block;
    }
#main{
    /* fixed 처리를 해야 가운데 배치된 이미지가 계속 보이는데
    하단에 콘텐츠에 방해요소로 작용
    position: fixed; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: #003039; */
    /* clip-path: circle(1000px at center center); */
    overflow: hidden;
}

.home{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.main-l{
    background: #F9F871;
    /* wrap 처리 */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 0%;
        
        }

.main-l .main-l-txt{
    overflow-y: hidden;
    font-size: 1.2rem;
    font-weight: 600; color: #f9f9f9;
    text-shadow: 1px 1px 2px #999988;
    margin-right: 20%;
    margin-bottom: 5%;
        }
.main-l span{
    font-size: 1.2rem;
    color: #00C6C4;
    text-shadow: 1px 1px 2px #aaa;
}
.main-l span:last-child{
    color: #ff5555;
    font-size: 1.5rem;
}

/* .main-img{
    position: absolute; left: 45%;
    width: 30%;
}
.main-img img{
    max-width: 100%;
    min-height: auto;
    } */

.main-r{
    background-color: #00012e;
    width: 0;
    /* wrap 처리 */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-r span{
    transform: rotate(-90deg);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

/* 스크롤바 텍스트 */
.welcome {
    position: absolute;
    left: 0%;
    bottom: 15%;
    color: #00012e;
    font-weight: 100;
    animation: scrolltxt 2s linear infinite;
    font-family: 'MaplestoryOTFLight';
}

.heart{
    width: 8px;
    height: 8px;
    background: #ff5555;
    position: absolute;
    top: 40%;
    left: -13%;
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #ff5555;
}
.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #ff5555;
}

.img-box{
    width: 30%;
    height: 30%;
    background-size: cover;
    background-position: right top 50%;
}

#design .promotion-card{
    margin: auto;
    margin-top: 20px;
    }

.nav_item{
    display: inline;
    /* margin-right: 15px; */
    align-items: center;
}

.title{
    font-size: 1rem;
    text-align: center;
    padding-top: 1.5rem;
}

#design .promotion-card{
    margin: auto;
    margin-top: 20px;
    }


.ft-br{
    display: block;
}
    
    footer{
        height: 110vh;
        padding: 0;
        margin: 0;
        min-height: 100%;
        padding-top: 80px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-top: 8rem;
    }
    
    footer .title{
        font-size: 1rem;
        padding: 0;
    }
    
    .ft-txt{
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 23rem;
        transform: translate(-50%, -40%);
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
        justify-content: center;
        padding: 1rem 2rem;
        box-sizing: border-box;
        margin-top: 0rem;
    }
    
    .ft-txt h3{
        font-size: 1.3rem;
        word-spacing: -3px;
        line-height: 1.5rem;
    }
    
    .ft-txt h3 span{
        font-size: 0.9rem;
        word-spacing: -5px;
        line-height: 0.8rem;
    }
    
    .ft-txt p{
        font-size: 1.1rem;
        margin-top: 1.2rem;
        font-weight: 400;
        line-height: 0.8rem;
    }
    
    .ft-txt2{
        margin-top: 10px;
    }
    .ft-txt2 span{
        display: inline-block;
        font-weight: 300;
    }
    
    .ft-txt i{
        font-size: 1.5rem;
        margin-left: 10px;
    }
    
    .ft-txt .contect-img span{
        display: block;
        font-style: normal;
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    
    .ft-txt .contect-img{
        width: 5rem;
        margin: auto;
    }
    
    .ft-txt .contect-img span{
        display: block;
    }
    
    .ft-txt .contect-img img{
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .ft-txt .ft-smtxt{
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
        line-height: 2rem;
    }

    }

@media screen and (max-width: 868px){
.rdw-card{
    max-width: 70em;
}

.img-box{
    width: 40%;
    height: 30%;
    background-size: cover;
    background-position: right top 50%;
}

}

/*======================*
 *   스마트폰 이하       *
 *======================*/
@media screen and (max-width: 767px){
    .main-l .main-l-txt{
        overflow-y: hidden;
        /* transform: rotate(-90deg); */
        font-size: 25px;
        font-weight: 600; color: #f9f9f9; text-shadow: 1px 1px 2px #999988;
        margin-right: 20%;
        margin-bottom: 5%;
            }
.main-img{
    position: absolute; left: 35%;
    width: 40%;
}
.main-l .main-l-txt{
    overflow-y: hidden;
    font-size: 1rem;
    font-weight: 300; color: #f9f9f9;
    text-shadow: 1px 1px 2px #999988;
    margin-right: 20%;
    margin-bottom: 5%;
        }

.main-l span{
    font-size: 1.2rem;
    color: #00C6C4;
    text-shadow: 1px 1px 2px #aaa;
}

.main-l span:last-child{
    color: #ff5555;
    font-size: 1.5rem;
}

.main-r span{
    padding-top: 5rem;
}

.welcome {
    position: absolute;
    left: 0%;
    bottom: 15%;
    color: #00012e;
    font-weight: 100;
    animation: scrolltxt 2s linear infinite;
    font-family: 'MaplestoryOTFLight';
    font-size: 0.8rem;
}

.heart{
    width: 8px;
    height: 8px;
    background: #ff5555;
    position: absolute;
    top: 40%;
    left: -13%;
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #ff5555;
}
.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #ff5555;
}

#about{
    height: 170vh;
    }

.img-box{
    width: 40%;
    height: 25%;
    background-size: cover;
    background-position: right top 50%;
}

.rdw-card{
    padding: 2.5em;
    /* 세로로 나열 */
    flex-direction: column;
    margin-top: 3em;
}

.rdw-card-img{
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8em);
}

#uidesign{
    height: 100%;
}

.ui-txt{
    text-align: justify;
    padding: 3rem;
    margin-top: 0;
    width: 100%;
}
.ui-txt h1{
    text-align: center;
    font-size: 1.2rem;
}

.ui-txt h3{
    font-size: 0.9rem;
}

.ui-txt a{
    margin: auto;
    margin-top: 20px;
}

.ui-txt span{
    text-align: center;
}

.ui-inner{
    margin: auto;
    margin-top: 3rem;
}

.ui-inner2{
    margin: auto;
    margin-top: 1rem;
    flex-direction: column-reverse;
}

#design .promotion-card{
    margin: auto;
    margin-top: 20px;
    }



}


/*======================*
 *   소형 이하           *
 *======================*/
@media (max-width: 575px){
#pc_menu{
    display: none;
    }

.sec-menu{
    display: flex;
    position: fixed;
    bottom: -5%;
    right: 3%;
    }

.main-l .main-l-txt{
    font-size: 1rem;
        }
.main-l span{
    font-size: 1rem;
}
.main-l span:last-child{
    font-size: 1rem;
}

.main-r span{transform: rotate(-90deg);
    padding-top: 1.5rem;
    text-align: center; font-size: 0.8rem; color: #fff;
    }

.welcome {
    bottom: 25%;
    font-size: 0.8rem;
    animation: scrolltxt 2s linear infinite;
    font-family: 'MaplestoryOTFLight';
    }
#about{
    height: 150vh;
}
.about-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    box-sizing: border-box;
}

/* .img-box{
width: 30%;
height: 30%;
} */
.about-title h1{
    padding-top: 2rem;
    }

.about-txt h3{
    font-size: 1rem;
    line-height: 1.3rem;
}

.about-txt p{
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.about-txt h4{
    font-size: 0.8rem;
}

.iconBx{
    justify-content: center;
}

#design .promotion-card{
    margin: auto;
    margin-top: 100px;
        }

footer{
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    height: 110vh;
}

footer .title{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.ft-txt{
    height: 10%;
    top: 25rem;
    padding: 1rem;
    box-sizing: border-box;
}

.ft-txt h3{
    width: 100%;
    font-size: 1.4rem;
    margin: 0 auto;
    word-spacing: 0;
    line-height: 1.8rem;
}

.ft-txt h3 span{
    display: inline-block;
    word-spacing: 0px;
    line-height: 1rem;
}

.ft-txt p{
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 400;
    line-height: 1rem;
}

.ft-txt2{
    margin-top: 2rem;
}
.ft-txt2 span{
    display: inline-block;
    font-weight: 300;
}

.ft-txt i{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 10px;
}

.ft-txt .contect-img span{
    display: block;
    font-style: normal;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.ft-txt .contect-img{
    width: 5rem;
    margin: auto;
}

.ft-txt .contect-img span{
    display: block;
}

.ft-txt .contect-img img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.ft-txt{
    height: 70%;
    padding-top: 1rem;
    }
.ft-smtxt br{
    display: none;
}
    }

