/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
font-family: 'MaplestoryOTFLight';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* ==============================
            설정
    ==============================*/
html{
    scroll-behavior: smooth;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

a{
    text-decoration: none;
    color: #222;
}

li, ul{
    list-style: none;
}

button, input{
    outline: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    line-height: 1.5em;
}

body{
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    margin: 0;
    background-color: #fff;
    color: #222;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
}

/* ==============================
            icon
    ==============================*/

i{
    padding: 5px 0px;
    font-size: 1.6em;
}

/* ==============================
            로딩 모달
    ==============================*/
.loadingModal{
    text-align: center;
    width: 300px;
    height: 200px;
    background: #fff;
    box-sizing: border-box;
    background: #00C6C4;
    padding: 20px;

    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 10px;
    z-index: 20000;
}
.loadingModal h3{
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}
.loadingModalBtn{
    text-align: end;
}
#loadingModalCloseBtn{
border: none;
background: #fff;
width: 2rem;
height: 2rem;
border-radius: 50%;
cursor: pointer;
}
#loadingModalCloseBtn i{
color: #00C6C4;
}

/* ==============================
            Top 버튼
    ==============================*/
.topBtn{
    position: fixed;
    bottom: 8rem;
    right: 3rem;
    width: 5%;
    height: 5%;
    z-index: 20000;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: none;
}

.topBtn ion-icon{
    font-size: 3rem;
    color: #fff;
    background: #00C6C4;
    border-radius: 50%;
    padding: 0.3rem;
}

.topBtn.active{
    visibility: visible;
    opacity: 1;
}
/* ==============================
            MENU
    ==============================*/
/* .nav_item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */

.logo{width: 100px;}
.logo img{width: 100%;}

/* header{} */
.menu-inner{
    margin: auto;
    overflow: hidden;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.gnb{
    float: right;
    padding-top: 10px;
}
.gnb a{
    margin-right: 50px;
}


/*======================*
*        메뉴바        *
*======================*/
.sec-menu{
    display: none;
    z-index: 100000;}

#pc_menu{
        display: block;
    }

/* 메뉴바 색상 변경 */
#pc_menu.navbar-bg{
    background: #00012e;
    transition: 1s linear;
}

header{
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        z-index: 10;
        box-sizing: border-box;
        }
.logo{
    float: left;
    align-items: center;
    padding-bottom: 0.5rem;
}
.menu-nav{
    background-color: transparent;
    box-shadow: none;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav_item{
    display: inline;
    margin-right: 40px;
    align-items: center;
        }
.nav_item:last-child{
    margin-right: 0px;
}
.nav_item a{
    color: #fff;
    position: relative;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.nav_item a:hover{
    color: #00C6C4;
    z-index: 10;
}
.nav_menu{
    float: right;
    padding-top: 20px;
}

.nav_item a::before{
    content: '';
    position: absolute;
    top: -75%;
    right: 50%;
    background: url(img/artboard1.svg);
    background-size: cover;
    background-position: center;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.nav_item a:hover:before{
    opacity: 1;
    transform: rotate(360deg);
    transition: ease-in-out 1.2s;
}

/*======================*
*        모바일        *
*======================*/
.moNav{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 10%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.moNav .moNavli{
    list-style: none;
    width: 20%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.moNav .moNavli a{
    /* position: relative; */
    display: block;
    padding: 1.5rem 0;
    color: #00C6C4;
    font-weight: 600;
    text-decoration: none;
    height: 100%;
    font-size: 1rem;
}

.moNav .moNavli.active a{
    background: #000289;
    color: #F9F871;
    height: 100%;
}

/*======================*
*        메인          *
*======================*/

#main{
/* fixed 처리를 해야 가운데 배치된 이미지가 계속 보이는데
하단에 콘텐츠에 방해요소로 작용
position: fixed; */
top: 0;
left: 0;
width: 100vw;
height: 100vh;
/* background: #003039; */
/* clip-path: circle(1000px at center center); */
overflow: hidden;
}

.mo-menu{
    display: none;
}

.home{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.main-l{
    background: #F9F871;
    /* wrap 처리 */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 0%;
        
        }

.main-l .main-l-txt{
    overflow-y: hidden;
    /* transform: rotate(-90deg); */
    font-size: 25px;
    font-weight: 600; color: #f9f9f9; text-shadow: 1px 1px 2px #999988;
    margin-right: 20%;
    margin-bottom: 5%;
        }
.main-l span{
    font-size: 1.5rem;
    color: #00C6C4;
    text-shadow: 1px 1px 2px #aaa;
}
.main-l span:last-child{
    color: #ff5555;
    font-size: 2rem;
}

.main-img{
    position: absolute; left: 40%;
    width: 30%;
}
.main-img img{
    max-width: 100%;
    min-height: auto;
    }

.main-r{
background-color: #00012e;
width: 0;
/* wrap 처리 */
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 100%;
align-items: center;
justify-content: center;
}

.main-r span{transform: rotate(-90deg);
padding: 10px;
text-align: center; font-size: 23px; color: #fff;
}

/* 스크롤바 텍스트 */
.welcome {
position: absolute;
left: 0%;
bottom: 15%;
transform: rotate(-90deg);
color: #00012e;
font-weight: 100;
animation: scrolltxt 2s linear infinite;
font-family: 'MaplestoryOTFLight';
}

/* .welcome::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -45%;
    width: 60px;
    height: 2px;
    background-color: #00012e;
} */

.heart{
    width: 10px;
    height: 10px;
    background: #ff5555;
    position: absolute;
    top: 25%;
    left: -20%;
    transform: rotate(-45deg);
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #ff5555;
}
.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #ff5555;
}



/* 스크롤바 애니메이션 */
@keyframes scrolltxt{
    0%, 100%{
        transform: rotate(-90deg) translateX(20px);
    }

    50%{
        transform: rotate(-90deg) translateX(-20px);
    }
}
/*======================*
 *       어바웃미       *
 *======================*/
.about-title h1{
    text-align: center;
    margin: 0;
    color: #000;
    font-size: 2rem;
    padding-top: 6.5rem;
    }

#about .line{
    width: 100px;
    height: 2px;
    background: #FBF175;
    margin: auto;
    margin-top: 0.5rem;
}

#about{
    width: 100vw;
    height: 140vh;
    background-image: url(img/bg-circle.png);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.about-wrap{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

.about-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    overflow: hidden;
    box-sizing: border-box;
}
.img-box{
    width: 30%;
    height: 65%;
    border: 10px solid rgba(0, 0, 0, 0.05);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: url(img/profilephoto.jpg);
    background-size: cover;
    background-position: right top 30%;
    margin: 0 auto;
    /* 베지어 곡선으로 더 부드럽게 */
    animation: about 3s cubic-bezier(1, 1, 1, 1) infinite;
}
@keyframes about{
    0%{
    border-radius: 80% 50% 50% 70% / 80% 50% 70% 50%;
    }
    50%{
    border-radius: 50% 60% 70% 50% / 50% 60% 50% 70%;    
    }
    100%{
    border-radius: 80% 50% 50% 70% / 80% 50% 70% 50%;    
    }
}

.about-txt{
    padding-right: 5rem;
}

.txt-inner-in span{
    font-weight: 600;
}

.iconBx{
    display: flex;
    flex-wrap: wrap;
}

.iconBx > div{
    margin: 10px;
}

.iconBx img{
    width: 30px;
    background-color: #fff;
    border: 2px solid #3a3a3a;
    border-radius: 2px;
}

.txt-inner h4{
    margin-top: 40px;
    margin-bottom: 10px;
}




/*======================*
 *       스킬           *
 *======================*/
/* .skill-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    color: #000;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 6.5rem;
} */

.skill-line{
    width: 40px;
    height: 1px;
    background: #000;
    margin: auto;
    margin-top: 0.5rem;
}

#skill{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    /* background: #e0f7fa; */
}

.skill-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 40px 0; */
}

.skill-wrap .card{
    position: relative;
    width: 19rem;
    height: 25rem;
    margin: 40px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.skill-wrap .card img{
    max-width: 100%;
    height: auto;
}

.skill-wrap .card .content{
    position: absolute;
    /* bottom: 0px; */
    bottom: -500px;
    width: 100%;
    height: 17rem;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.5s;
    transition-delay: 0.7s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.skill-wrap .card:hover .content{
    bottom: 0px;
    transition-delay: 0s;
}
.skill-wrap .card .content .contentbx h3{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    /* margin-top: 60px; */
    line-height: 1.2rem;
    opacity: 0;
    transition: 1s;
    transform: translateY(-40px);
    padding: 30px 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

.skill-wrap .card:hover .content .contentbx h3{
    opacity: 1;
    transform: translateY(0px);
}

.skill-wrap .card .content .contentbx h3 span{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: initial;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

/*======================*
 *       반응형웹       *
 *======================*/
#responsiveWeb{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
    padding: 5em 1.5em;
    font-size: 10px;
    
}
/* 
#responsiveWeb:first-child{
    margin-top: 10em;
} */

.rdw-card{
    width: 100%;
    max-width: 100em;
    padding: 3em;
    background: #fff;
    box-shadow: 0 1.4em 8em rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8em;
}

.rdw-card-img{
    min-width: 35em;
    max-width: 35em;
    height: 30em;
    transform: translateX(-8em);
    position: relative;
}

.rdw-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8em;
    border: 0.1px solid #00C6C4;
}

.rdw-card-img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5em .5em 3em 1px rgba(0, 0, 0, .05);
    border-radius: .8em;
}

.rdw-date span{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6em;
    font-weight: 600;
    margin: .5em 0;
    line-height: 1.2rem;
}

.rdw-title{
    font-size: 2rem;
    margin: 1.5em 0 2em;
    text-transform: uppercase;
    color: #00C6C4;
    font-weight: 600;
}

.rdw-txt{
    margin-bottom: 3em;
    font-size: 1.6em;
    color: rgba(0, 0, 0, .7);
    line-height: 1.5rem
}


/* 버튼 디자인 == 전체 버튼을 클래스 네임으로 활용하기 */
.btn{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn a{
    font-size: 0.9rem;
    position: relative;
    padding: 0.3rem 1.5rem;
    margin: 10px;
    background: #00012e;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
    margin-right: 20px;

}

.btn a:hover{
    background: #00C6C4;
    color: #00012e;
}

.btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
    transform: skewY(-45deg);
}

.btn a:hover::before{
    left: 100%;
}

.title{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    /* margin-top: 5rem; */
}
.responsiveWeb-line{
    width: 10em;
    height: 1px;
    background: #000;
    margin: auto;
    margin-top: 0.5rem;
}

/*======================*
 *       UI디자인       *
 *======================*/
.ui-line{
    margin: auto;
    width: 80px;
    height: 1px;
    background: #00012e;
    margin-top: 0.5rem;
}

#uidesign{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.ui-txt{
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
    width: 30%;

}
.ui-txt h1{
    font-size: 1.5rem;
}

.ui-txt h3{
    margin-top: 20px;
    font-size: 1rem;
}

.ui-txt a{
    margin-left: auto;
    margin-top: 40px;
}

.ui-txt span{
    display: block;
    position: relative;
    color: #aaa;
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: right;
}


.ui-inner{
   margin-left: auto;
   margin-top: 5rem;
}

.ui-inner2{
    margin-right: auto;
    margin-top: 0rem;
}

.mobile{
    position: relative;
    width: 15rem;
    height: 31rem;
    background: #ddd;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;
    /* box-shadow를 안쪽으로 넣기 inset */
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
}

.screen{
    position: relative;
    background: #262626;
    width: 13rem;
    height: 23rem;
    margin: 60px auto;
    overflow: hidden;
}

.screen.active{
    background-size: cover;
    animation: ui-bg 5s ease-in-out infinite;
    /* 애니메이션이 부드럽게 이어지지 않아서 반대로 돌아가기를 넣어보았다 */
    animation-direction: alternate;
}

.mobile2 .screen.active{
    background-size: cover;
    animation: ui-bg2 5s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes ui-bg{
    0%{
        background: url(img/ui1.png);
        background-size: contain;
    }

    20%{
        background: url(img/ui2.png);
        background-size: contain;
    }

    50%{
        background: url(img/ui3.png);
        background-size: contain;
    }

    70%{
        background: url(img/ui4.png);
        background-size: contain;
    }

    100%{
        background: url(img/ui5.png);
        background-size: contain;
    }
}

@keyframes ui-bg2{
    0%{
        background: url(img/ui2-1.png);
        background-size: contain;
    }

    30%{
        background: url(img/ui2-2.png);
        background-size: contain;
    }

    70%{
        background: url(img/ui2-3.png);
        background-size: contain;
    }

    100%{
        background: url(img/ui2-4.png);
        background-size: contain;
    }

}

.homebtn{
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 50%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.inner{
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #202020;
    border-radius: 2px;
    box-sizing: border-box;
}

.volume{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90px;
    left: -4px;
}

.volume li{
    list-style: none;
    width: 2px;
    height: 30px;
    background: #ccc;
    margin: 10px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


/*======================*
 *       포토샵         *
 *======================*/

#design{
        box-sizing: border-box;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.design-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1400px;
}

#sec-5 title{
    margin-top: 0;
}

.design-line{
    margin: auto;
    margin-top: 0.5rem;
    background-color: #000;
    width: 200px;
    height: 1px;
}

#design .promotion-card{
    position: relative;
    width: 320px;
    height: 400px;
    transform-style: preserve-3d;
    /* perspective(관점)를 자식까지 전달되도록 하는 역할 */
    /* 투영점/ 바로 아래 자식에게만 적용 / 값이 작을 수록 가까이서 보는 것 */
    perspective: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 3rem;
}

#design .promotion-card .p-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
}

/* 세로로 빙글 돌아가기 */
#design .promotion-card:hover .p-box{
    transform: rotateY(180deg);
}

#design .promotion-card .p-imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#design .promotion-card .p-imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 요소 콘텐츠 박스 채우기 */
    object-fit: cover;
}

#design .promotion-card .contentbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 요소 뒷면의 색상 */
    background: #00012e;
    display: flex;
    /* flex-wrap: wrap; */
    /* 요소의 뒷면이 사용자를 향할 때 보여야 하는지 */
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

#design .promotion-card .contentbx .contentbx-inner{
    transform-style: preserve-3d;
    width: 90%;
    height: 90%;
    /* 뒷쪽 컨텐츠 색상 */
    background: rgba(255, 255, 255, 0.2);
        /* border-image: linear-gradient(45deg, #ff2222, #F9F871);
    border-style: solid;
    border-image-slice: 1; */
    border: 3px solid #00C6C4;
    /* 3D 공간에서 z축을 따라 요소 의 위치를 변경.
        z축 = 3차원적으로 입체감 있게 대비되는 축 */
    transform: translateZ(80px);
    padding: 30px;
    text-align: center;
}

#design .promotion-card .contentbx h2{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #333;
}

#design .promotion-card .contentbx span{
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #333;
    display: inline-block;
    line-height: 0.9rem;
}

#design .promotion-card .contentbx p{
    color: #fff;
    font-size: 0.9rem;
    text-shadow: 0 0 1px #333;
    line-height: 1.3rem;
}

/* design 부분 버튼 */
.design-btn{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    padding: 0.3rem 1rem;;
    color: #fff;
    background-color: #00C6C4;
    border-radius: 5px;
    font-size: .9rem;
    transition: .5s;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.design-btn:hover{
    color: #00012e;
    background: #FBF175;
}
.design-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
    transform: skewY(-45deg);
}

.design-btn:hover::before{
    left: 100%;
}

/* 모달 */
.psModal,
.psModal2,
.psModal3,
.psModal4{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    overflow-y: scroll;
}

.psModal-container,
.psModal2-container2,
.psModal3-container3,
.psModal4-container4{
    background: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.psModal-header,
.psModal2-header2,
.psModal3-header3,
.psModal4-header4{
    display: flex;
    justify-content: space-between;
}

.psModal-header button,
.psModal2-header2 button,
.psModal3-header3 button,
.psModal4-header4 button{
    border: none;
    background: #00C6C4;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}

.psModal-header button i,
.psModal2-header2 button i,
.psModal3-header3 button i,
.psModal4-header4 button i{
    font-size: 1rem;
}

.psModal-content,
.psModal2-content2,
.psModal3-content3,
.psModal4-content4{
    margin: 1rem auto;
    align-items: center;
    text-align: center;
}

.psModal-footer,
.psModal2-footer2,
.psModal3-footer3,
.psModal4-footer4{
    display: flex;
    flex-direction: row-reverse;
}

.psModal-footer button,
.psModal2-footer2 button,
.psModal3-footer3 button,
.psModal4-footer4 button{
    border: none;
    color: #fff;
    background: #00C6C4;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

/*======================*
 *       컨텍트         *
 *======================*/

footer{
    padding: 0;
    margin: 0;
    height: 130vh;
    background: url(img/profilephoto.jpg);
    background-size: cover;
    background-position: center top 20%;
    background-attachment: fixed;
    position: relative;
    margin-top: 3.5rem;
    padding-top: 7rem;
}

footer .title{
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
}

.ft-txt{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 70%;
    height: 75%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -40%);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    justify-content: center;
    box-sizing: border-box;
}

.ft-txt h3{
    font-weight: 300;
    color: #000289;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: block;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
}

.ft-txt h3 span{
    font-size: 1rem;
}

.ft-txt p{
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: 400;
    color: #000289;
}

.ft-txt2{
    margin-top: 10px;
}
.ft-txt2 span{
    display: inline-block;
    font-weight: 300;
}

.ft-txt i{
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px;
}

.ft-txt span{
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}

.ft-txt .contect-img{
    width: 8rem;
    margin: auto;
}

.ft-br{
    display: none;
}

.ft-txt .contect-img img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
